.colorColumn {
  display: inline-block;
  width: 10%;
  border: 2px solid;
  margin: 1px;
}

.WhiteColumn {
  border-color: #ffee00;
  background-color: #fff57c;
}

.BlueColumn {
  border-color: #00aeff;
  background-color: #8de6e9;
}

.BlackColumn {
  border-color: #300050;
  background-color: #bb55ff;  
}

.RedColumn {
  border-color: #ff0000;
  background-color: #ff8b8b;  
}

.GreenColumn {
  border-color: #046900;
  background-color: #7eff7e; 
}

.ColorlessColumn {
  border-color: #000000;
  background-color: #a0a0a0;  
}

.MulticolorColumn {
  border-color: #ff00d4;
  background-color: #fb7aff;  
}